{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
    {% include 'helpdesk/partials/head.html'%}

    <title>{% block title %}{% endblock title %} Help Desk</title>
</head>
<body>
    {% include 'helpdesk/partials/menu.html' %}
    {% include 'helpdesk/partials/header.html'%}
    <main class="main-tarefas-conteiner"></div>

        {% block content %}{% endblock content %}
        
        {% include 'helpdesk/partials/pagination.html' %}
    </main>
    {% include 'helpdesk/partials/footer.html' %}

    <script src="{% static 'helpdesk/js/scripts.js'%}"></script>
</body>



</html>