{% extends 'global/base.html' %}

{% block title %} Minhas Tarefas | {{ user.first_name }} |{% endblock title %}

{% block content %}
    <div class="main-content-register">
        <h2>Minhas Tarefas ({{user.first_name}})</h2>

    {% include 'helpdesk/partials/message.html' %}
    {% include  'authors/partials/login_message.html'%}

        {% include 'authors/partials/dash_admin_menu.html' %}

        <div class="authors-dashboard-container">
            {% if tarefas %}
            <h3>Suas tarefas</h3>

            <main>
            
            <div class="tarefas-panel-dashboard">
                <span class = "lista-dashboard"href="">Ticket</span>
                <span class = "lista-dashboard"href="">Titulo</span>   
                <span class = "lista-dashboard"href="">Ultima Atualização</span>
                <span class = "lista-dashboard"href="">Editar</span>
                <span class = "lista-dashboard"href="">Excluir</span>
            </div>
            {% endif %}
            {% for tarefa in tarefas %}
                <div class="tarefas-panel-dashboard-">
                <a class = "lista-dashboard"href="{% url 'helpdesk:tarefa' tarefa.id %}">#{{tarefa.id}} </a>
                <a class = "lista-dashboard"href="{% url 'helpdesk:tarefa' tarefa.id %}">{{ tarefa.tipe }}</a>   
                <a class = "lista-dashboard"href="{% url 'helpdesk:tarefa' tarefa.id %}">{{ tarefa.data_at }}</a>
                {% if tarefa.status == 'Aberto' %}
                <a class = "lista-dashboard-edit"href="{% url 'authors:dashboard_tarefa_edit' tarefa.id %}">✒️</a>
                {% else %}
                <a class = "lista-dashboard-edit"href=""> </a>
                {% endif %}
                    <form action="{% url 'authors:dashboard_tarefa_delete' %}" class="logout-form form-delete" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{tarefa.id}}">
                        <button type="submit" class="plaintext-button plaintext-button2">❌</button>
                    </form>
                </div>
            {% empty %}
                <div class="tarefas-none">
                <h3 >Você não tem tarefas, por favor crie uma.</h3>
                </div>
            {% endfor %}
            <main>
        </div>   
    </div>
{% endblock content %}