{% extends 'global/base.html' %}

{% block title %} Dashboard | {{ user.first_name }} |{% endblock title %}

{% block content %}
    <div class="main-content-register">
        <h2>Dashboard ({{user.first_name}})</h2>
    {% include 'helpdesk/partials/message.html' %}
    {% include  'authors/partials/login_message.html'%}
        <div class="authors-dashboard-container">
            <h3>Suas tarefas</h3>

            <main>
            {% for tarefa in tarefas %}
                <div>
                <a class = "lista-dashboard"href="{% url 'authors:dashboard_tarefa_edit' tarefa.id %}">#{{tarefa.id}} {{ tarefa.title }}</a>
                    <form action="{% url 'authors:dashboard_tarefa_delete' %}" class="logout-form form-delete" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{tarefa.id}}">
                        <button type="submit" class="plaintext-button plaintext-button2">❌</button>
                    </form>
                </div>
            {% empty %}
                <div>
                <p>Você não tem tarefas, por favor crie uma.</p>
                </div>
            {% endfor %}
            <main>
        </div>   
    </div>
{% endblock content %}