{% extends 'global/base.html' %}

{% block title %} Controle de Máquinas | {{ user.first_name }} |{% endblock title %}

{% block content %}

    <div class="main-content-register">
        <h2>Controle de Máquinas ({{user.first_name}})</h2>

    {% include 'helpdesk/partials/message.html' %}
    
    <div class="addmaquina-link-main">
        <a class="addmaquina-link" href="{% url 'authors:maquina_view' %}"> Nova Máquina </a>
    </div>

    <section class="section-maquinas-content">

        {% for maquina in maquinas %}
        
        <div class="panel-content-maquinas">
            <div class="maquinas-panel-head">

                {% if maquina.ativo %}
                    <p class="maquina-ativo ativo"></p>
                {% else %}
                    <p class="maquina-inativo inativo"></p>
                {% endif %}
                    

                <p>{{maquina.nome}}</p> 
                <p>{{maquina.anydesk}}</p>

                <a href="{% url 'authors:maquina_edit' maquina.id %}" class="plaintext-button plaintext-button2">📝</a>
                <form action="{% url 'authors:maquina_delete' %}" class="logout-form form-delete" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{maquina.id}}">
                    <button type="submit" class="plaintext-button plaintext-button2">❌</button>
                </form>
            </div>
            <div class="maquinas-panel-content">
                <p>{{maquina.config}}</p>
                <p>{{maquina.usuario.first_name}} {{maquina.usuario.last_name}}</p>
                <p>Ramal: {{maquina.ramal}}</p>
                <p>{{maquina.email}}</p>
                <p>Skype: {{maquina.skype}}</p>
                <p>Windows {{maquina.windows}}</p>
                <p>IP: {{maquina.ip}}</p>
                <p>FC: {{maquina.usuariofc}}</p>
                <p>Celular: {{maquina.celular}}</p>
                <p>{{maquina.gmail}}</p>
                <p>E7 Antivirus
                    {% if maquina.e7 %}
                        ✔️
                    {% elif not maquina.e7 %}
                        ❌
                    {% endif %}
                </p>
                <p>Microsoft Office 
                    {% if maquina.office %}
                        ✔️
                    {% elif not maquina.office %}
                        ❌
                    {% endif %}
                </p>
                <p>{{maquina.data_at}}</p>
                <p>{{maquina.mac}}</p>
                <p>{{maquina.Category}}</p>
                <p>Impressora</p>
            </div>
        </div>



        {% endfor %}
    
    </section>

{% endblock content %}