{% extends 'global/base.html' %}

{% block title %} Controle de Maquinas | {{ user.first_name }} |{% endblock title %}

{% block content %}

    <div class="main-content-register">
        <h2>Controle de Maquinas ({{user.first_name}})</h2>

    {% include 'helpdesk/partials/message.html' %}

    <section class="section-maquinas-content">

        {% for maquina in maquinas %}
        
        <div>
            <div class="maquinas-panel-head">
                <p>
                {% if maquina.ativo %}
                    🟢
                {% else %}
                    🔴
                {% endif %}
                    
                </p>
                <p>{{maquina.nome}}</p> 
                <p>{{maquina.Category}}</li>
                <p>{{maquina.anydesk}}</p>
            </div>
            <div class="maquinas-panel-content">
                <p>{{maquina.config}}</p>
                <p>{{maquina.usuario.first_name}} {{maquina.usuario.last_name}}</p>
                <p>{{maquina.ramal}}</p>
                <p>{{maquina.email}}</p>
                <p>{{maquina.skype}}</p>
                <p>{{maquina.windows}}</p>
                <p>{{maquina.ip}}</p>
                <p>{{maquina.usuariofc}}</p>
                <p>{{maquina.celular}}</p>
                <p>{{maquina.gmail}}</p>
                <p>{{maquina.e7}}</p>
                <p>{{maquina.office}}</p>
                <p>{{maquina.data_at}}</p>
            </div>
        </div>



        {% endfor %}
    
    </section>

{% endblock content %}