<form action="{{form_action}}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
        <div class="form-content-login form-content-grid-login">
            {% for field in form %}
               <div class="form-group {{field.field.widget.attrs.class}}">
                <label for="{{ field.id.for_label }}">{{ field.label }}</label>
                {{ field }}

                {% if field.help_text %}
                 <p class="help-text">{{ field.help_text }}</p>
                
                {% endif %}

                 {{ field.errors }}
                </div> 

            {% endfor %}
        </div>
       
        {% if form.errors %}
        <div class="form-content-login form-content-grid-login">
            <div class="form-group">
                <div class="message-error">
                    Por favor corrija os erros no formulário
                </div>
            </div>    
        </div>
        {% endif %}

        
        <div class="form-content-login form-content-grid-login">
            <div class="form-group">
                <button class="span-2"type="submit">Entrar</button>
            </div>    
        </div>

        <h5>Esqueceu sua senha? <a href="/password_reset/">Clique aqui</a> </h5>
    </form>