<div class="dash-menu-admin-content">
    {% if request.user.is_superuser %}
    <a href="{% url 'admin:index' %}" target="_blank" class="export-xlsx">Administração</a>
    <a href="{% url 'authors:dashboard_export_xlsx' %}" class="export-xlsx">Exporta tarefas</a>
    {% endif %}
    <a href="{% url 'authors:dashboard' %}" class="export-xlsx">Visualizar tarefas</a>
    <a href="{% url 'authors:dashboard_tarefa_new' %}" class="export-xlsx">Criar tarefa</a>
    
</div>
{% comment "" %}   
    <form class="addprofileimg" action="{% url 'authors:addprofileimg' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
            <input type="file" name="cover_profile" accept="image/*" id="id_cover_profile" >
            <button type="submit">^</button>
    <form>
{% endcomment %} 
