{% extends 'global/base.html' %}

{% block title %} Recuperar Senha |{% endblock title %}

{% block content %}


<div class="reset-password-main">

{% if validlink %}

<div class='reset-password-content' >
<p>Digite sua nova senha duas vezes para que possamos verificar se você a digitou corretamente.</p>
</div>
<form class='form-reset-password' method="post">{% csrf_token %}
    <input class="hidden" autocomplete="username" value="{{ form.user.get_username }}">
    <div class="form-row field-password1">
        {{ form.new_password1.errors }}
        <label for="id_new_password1">Nova senha: </label>
        {{ form.new_password1 }}
    </div>
    <div class="form-row field-password2">
        {{ form.new_password2.errors }}
        <label for="id_new_password2">Confirmar senha: </label>
        {{ form.new_password2 }}
    </div>
    <input type="submit" value="Mudar minha senha">
</form>

{% else %}

<p>  O link de redefinição de senha é inválido, possivelmente porque já foi usado. Solicite uma nova redefinição de senha.</p>

{% endif %}

</div>

{% endblock %}
