{% extends 'global/base.html' %}

{% block title %} Recuperar Senha |{% endblock title %}

{% block content %}

<div class="reset-password-main">

<div class='reset-password-content' >
<p>Esqueceu sua senha? 

    </br> 
    </br>
    Digite seu endereço de e-mail abaixo e enviaremos instruções por e-mail para configurar um novo.</p>
</div>
<form class='form-reset-password' method="post">{% csrf_token %}
    <div class="form-row field-email">
        {{ form.email.errors }}
        <label for="id_email">Endereço de email</label>
        {{ form.email }}
    </div>
    <input type="submit" value="Recuperar senha">
</form>

</div>

{% endblock %}
