{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help Desk</title>
    <link rel="stylesheet" href="{% static 'helpdesk/css/styles.css'%}">

</head>

<body>
    <header>
        <div class="header">
            <h1><img src="{% static "helpdesk/imgs/formedica.png"%}" alt="" class="logo"> </h1>
            <h1 class="menu">
                <a href="#">Home</a>
                <a href="#">Tarefas</a>
                </h2>
        </div>
    </header>
    <section class="search">
        <div class="search-tarefas">
            <form action="">
                <input type="number" name="ticket" placeholder="Ticket ID">
                <input type="text" name="situacao" placeholder="Situação">
                <input type="date" name="data">
                <select id="categoria" name="categoria-search" label="Categoria">
                    <option>Comercial</option>
                    <option>Marketing</option>
                    <option>Expedição</option>
                    <option>Financeiro</option>
                    <option>RH</option>
                </select>
                <button type="submit"> Filtrar </button>
            </form>
        </div>
    </section>

    <div class="tarefas-panel-head">
        <div class="panel-head-form">
            TICKET ID#
        </div>
        <div class="panel-head-form">
            Descrição
        </div>
        <div class="panel-head-form">
            Situação
        </div>
        <div class="panel-head-form">
            Data
        </div>
        <div class="panel-head-form">
            Categoria
        </div>
    </div>
    </div>
    <div class="tarefas-panel-a">
        <div class="tarefa">
            <a href="#" class="tarefa-id">#61250</a>
        </div>
        <div class="tarefa">
            <a href="#" class="tarefa-descrição">Compra de teclados</a>
        </div>
        <div class="tarefa">
            <a href="#" class="tarefa-situacao">Aberto</a>
        </div>
        <div class="tarefa">
            <a href="#" class="tarefa-data">25/10/2022</a>
        </div>
        <div class="tarefa">
            <a href="#" class="tarefa-categoria">Comercial</a>
        </div>
    </div>
    <div class="tarefas-panel-t">
        <div class="tarefa">
            <a href="#" class="tarefa-id">#65950</a>
        </div>
        <div class="tarefa">
            <a href="#" class="tarefa-descrição">Implementação de Sharepoint</a>
        </div>
        <div class="tarefa">
            <a href="#" class="tarefa-situacao">Aberto</a>
        </div>
        <div class="tarefa">
            <a href="#" class="tarefa-data">15/10/2022</a>
        </div>
        <div class="tarefa">
            <a href="#" class="tarefa-categoria">Pesquisa</a>
        </div>
    </div>
    <div class="tarefas-panel-a">
        <div class="tarefa">
            <a href="#" class="tarefa-id">#65054</a>
        </div>
        <div class="tarefa">
            <a href="#" class="tarefa-descrição">Ajusta na camera para melhorar angulação</a>
        </div>
        <div class="tarefa">
            <a href="#" class="tarefa-situacao">Concluido</a>
        </div>
        <div class="tarefa">
            <a href="#" class="tarefa-data">19/10/2022</a>
        </div>
        <div class="tarefa">
            <a href="#" class="tarefa-categoria">Comercial</a>
        </div>
    </div>
    <div class="tarefas-panel-t">
        <div class="tarefa">
            <a href="#" class="tarefa-id">#69410</a>
        </div>
        <div class="tarefa">
            <a href="#" class="tarefa-descrição">Compra de impressoras</a>
        </div>
        <div class="tarefa">
            <a href="#" class="tarefa-situacao">Em Andamento</a>
        </div>
        <div class="tarefa">
            <a href="#" class="tarefa-data">12/10/2022</a>
        </div>
        <div class="tarefa">
            <a href="#" class="tarefa-categoria">Expedição</a>
        </div>
    </div>
    <div class="tarefas-panel-a">
        <div class="tarefa">
            <a href="#" class="tarefa-id">#64654</a>
        </div>
        <div class="tarefa">
            <a href="#" class="tarefa-descrição">Intalar Libre Office para colaborador</a>
        </div>
        <div class="tarefa">
            <a href="#" class="tarefa-situacao">Fechado</a>
        </div>
        <div class="tarefa">
            <a href="#" class="tarefa-data">25/10/2022</a>
        </div>
        <div class="tarefa">
            <a href="#" class="tarefa-categoria">Comercial</a>
        </div>
    </div>
    <div class="tarefas-panel-t">
        <div class="tarefa">
            <a href="#" class="tarefa-id">#61954</a>
        </div>
        <div class="tarefa">
            <a href="#" class="tarefa-descrição">Cadastro de Usuario novos</a>
        </div>
        <div class="tarefa">
            <a href="#" class="tarefa-situacao">Em Andamento</a>
        </div>
        <div class="tarefa">
            <a href="#" class="tarefa-data">30/09/2022</a>
        </div>
        <div class="tarefa">
            <a href="#" class="tarefa-categoria">Financeiro</a>
        </div>
    </div>
    <div class="tarefas-panel-a">
        <div class="tarefa">
            <a href="#" class="tarefa-id">#65050</a>
        </div>
        <div class="tarefa">
            <a href="#" class="tarefa-descrição">Troca de Computadores para novo vendedor</a>
        </div>
        <div class="tarefa">
            <a href="#" class="tarefa-situacao">Fechado</a>
        </div>
        <div class="tarefa">
            <a href="#" class="tarefa-data">25/10/2022</a>
        </div>
        <div class="tarefa">
            <a href="#" class="tarefa-categoria">Expedição</a>
        </div>
    </div>
    <div class="tarefas-panel-t">
        <div class="tarefa">
            <a href="#" class="tarefa-id">#68419</a>
        </div>
        <div class="tarefa">
            <a href="#" class="tarefa-descrição">Troca de Sofware para designer</a>
        </div>
        <div class="tarefa">
            <a href="#" class="tarefa-situacao">Aberto</a>
        </div>
        <div class="tarefa">
            <a href="#" class="tarefa-data">21/10/2022</a>
        </div>
        <div class="tarefa">
            <a href="#" class="tarefa-categoria">Marketing</a>
        </div>
    </div>
    <div class="tarefas-panel-a">
        <div class="tarefa">
            <a href="#" class="tarefa-id">#68669</a>
        </div>
        <div class="tarefa">
            <a href="#" class="tarefa-descrição">Tinta Impressora</a>
        </div>
        <div class="tarefa">
            <a href="#" class="tarefa-situacao">Fechado</a>
        </div>
        <div class="tarefa">
            <a href="#" class="tarefa-data">20/10/2022</a>
        </div>
        <div class="tarefa">
            <a href="#" class="tarefa-categoria">Comercial</a>
        </div>
    </div>

    <footer class="main-footer">
        <div class="developer">
            <a href="" target="_blank" rel="no-referrer noopener">By Matheus Loeblein</a>
        </div>

        <div class="powered">
            <a href="https://www.djangoproject.com/" target="_blank" rel="no-referrer noopener">Powered by Djando</a>
        </div>
    </footer>

</body>

</html>