{% extends 'global/base.html' %}

{% block title %}Home |{% endblock title %}

{% block content %}

{% include 'helpdesk/partials/search.html'%}


{% include 'helpdesk/partials/message.html' %}

    {% include 'helpdesk/partials/tarefas-head.html'%}

    {% for global in global_msg %}
        {% include 'helpdesk/partials/tarefas-panel.html'%}
    {% endfor %}
        
    {% for tarefa in tarefas %}
        {% include 'helpdesk/partials/tarefas-panel.html'%}
    {% empty %}
        <div class="center-m-y">
            <h1>Nenhuma Tarefa encontrada. 😅</h1>
        </div>    
    {% endfor %}
{% endblock content %}