{%extends 'global/base.html'%}

{% block title %} TAREFA{% endblock title %}

{% block content %}
    <div class="head-tarefa-content">
        <span><b>Ticket ID:</b></span>
        <span>#61500</span>
        <span></span>
        <span>Compra de teclados</span>

    </div>
    <main class="main-content-tarefa">
        <div class="content-tarefa">
            <span class="tarefa-descricao">Descrição</span>
            <span class="tarefa-descricao"></span>
            <span class="tarefa-descricao"></span>
            <span class="tarefa-descricao"></span>
            <span class="tarefa-descricao"></span>
            <span class="tarefa-descricao"></span>
        </div>
    </main>
{% endblock content %}
