{%extends 'global/base.html'%}

{% block title %} TAREFA{% endblock title %}

{% block content %}
<div class="head-tarefa-content">
    <span><b>Ticket ID:</b></span>
    <span>#61500</span>
    <span></span>
    <span>Compra de teclados</span>

</div>
<main class="main-content-tarefa">
    <div class="content-tarefa-status">
        <span class="tarefa-autor">Autor: Matheus</span>
        <span class="tarefa-starus">Status: Em Andamento</span>
        <span class="tarefa-prioridade">Prioridade: Emergencia</span>
        <span class="tarefa-cetegoria">Setor: Marketing</span>
        <span class="tarefa-cetegoria">28/10/2022</span>

    </div>
    <div class="division"></div>
    <div class="content-tarefa-descricao">
        <div class="tarefa-descricao">Descrição</div>
        <div class="content-tarefa-conteudo">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus, sed amet! Voluptates velit
                doloribus,
                delectus veniam suscipit cum impedit quis autem pariatur temporibus enim ducimus, iusto ipsa
                consequatur,
                nisi earum?</p>
        </div>

    </div>


</main>
{% endblock content %}