{%extends 'global/base.html'%}

{% block title %} Tarefa | #{{ tarefa.id }} |{% endblock title %}

{% block content %}

{% include 'helpdesk/partials/message.html' %}
<main class="main-content-tarefa">
    
    <div class="content-tarefa-main">
        <div class="head-tarefa-content">

            <h2>{{ tarefa.title}}</h2>
        </div>  
            
           
        <div class="division"></div>

        <div class="content-tarefa-conteudo">
            <div class="content-tarefa-conteudo-status">
                <h3 class="tarefa-autor">{{tarefa.author.first_name}} {{tarefa.author.last_name}}</h3>
                <span class="tarefa-data-criação">{{tarefa.data_at|date:"d/m/Y"}} às {{tarefa.data_at|date:"H:i"}}</span>
            </div>
             <p>{{tarefa.description}}</p>
        </div>

        <div class="division"></div>




        {% for comment in comments %}
            {% include 'helpdesk/partials/comment.html' %}
        {% endfor %}


        
       
            <div class="form-content-comment-grid">
                <div class="form-content-comment">
                    <div class="form-group {{field.field.widget.attrs.class}}">
                        <form name="comment" action="/tarefa/addcomment/{{tarefa.id}}" method="POST">
                            {% csrf_token %}
                            {% if request.user.is_superuser %}
                                <select name="status_modify" id="status_modify" label="status_modify">
                                    <option>Fechado</option>
                                    <option>Execução</option>
                                    <option>Aberto</option>
                                </select>  
                            {% endif %}                          
                            <select id="name" name="name" label="name" required="True">
                                <option>Resposta</option>
                                <option>Complemento</option>
                            </select>
                            <textarea name="comment" id="comment" cols="30" rows="10" placeholder="Comentario"></textarea>
                            <button class= "B-Comment" type="subimit">Enviar Comentario</button>
                        </form>
                    </div>
                </div>
            </div>      
         </div> 

    <div class="content-tarefa-status">
        <span><b>Ticket</b> #{{ tarefa.id }}</span>
        <span class="tarefa-autor"><b>Autor </b>{{tarefa.author.first_name}} {{tarefa.author.last_name}}</span>
        <span class="tarefa-data-created"><b>Criado</b> {{tarefa.data_at|date:"d/m/Y"}} às {{tarefa.data_at|date:"H:i"}}</span>
        <span class="tarefa-data-updated"><b>Atualizado</b> {{tarefa.data_up_at|date:"d/m/Y"}} às {{tarefa.data_up_at|date:"H:i"}}</span>
       
        <div class="division-status"></div>
        
        <span class="tarefa-starus"><b>Status</b> {{tarefa.status}}</span>
        <span class="tarefa-prioridade"><b>Prioridade</b>
            {% if tarefa.prioridade == 'Urgencia' %}
                <span href="#" class="tarefa-prioridade-urgencia">{{tarefa.prioridade}}</span>
            {% elif tarefa.prioridade == 'Alta' %}
                <span href="#" class="tarefa-prioridade-alta">{{tarefa.prioridade}}</span>
            {% elif tarefa.prioridade == 'Moderada' %}
             <span href="#" class="tarefa-prioridade-moderada">{{tarefa.prioridade}}</span>
            {% elif tarefa.prioridade == 'Baixa' %}
                <span href="#" class="tarefa-prioridade-baixa">{{tarefa.prioridade}}</span>
            {% else %}
                <span href="#" class="tarefa-prioridade">{{tarefa.prioridade}}</span>
            {% endif %}
        </span>
        <span class="tarefa-categoria"><b>Setor</b> {{tarefa.Category}}</span>
        {% if tarefa.cover %}
        <span><b>Anexo</b> <a class="tarefa-anexo" target="_blank" href="{{tarefa.cover.url}}">📎 </a></span>
        {% endif %}
        

    </div>
</main>
{% endblock content %}