<div class="form-content-comment-grid">
    <div class="form-content-comment">
        <div class="form-group {{field.field.widget.attrs.class}}">
            <form enctype="multipart/form-data" name="comment" action="/tarefa/addcomment/{{tarefa.id}}" method="POST">
                {% csrf_token %}
            {% if request.user.is_superuser %}
                <select maxlength="12" name="status_modify" id="id_status_modify" label="status_modify">
                    <option value"Aberto">Aberto</option>
                    <option value"Execução">Execução</option>
                    <option value"Fechado">Finalizado</option>
                </select>  
                
            {% endif %}                          
                <textarea name="comment" id="comment" cols="30" rows="10" placeholder="Comentario"></textarea>
                <input type="file" name="cover" accept="image/*" id="id_cover">
                <button class= "B-Comment" type="subimit">Enviar Comentario</button>
            </form>
        </div>
    </div>
</div>   