  <button class="button-show-menu button-show-menu-visible">
    <i class="fas fa-bars"></i>
    <span class="hidden-text">Show menu</span>
  </button>
  
  <div class="menu-container menu-hidden">
    <button class="button-show-menu button-show-menu-visible">
    <button class="button-close-menu button-close-menu-visible">
      <i class="fas fa-times-circle"></i>
      <span class="hidden-text">Close menu</span>
    </button>
    <div class="menu-content">
      <nav class="menu-nav">
        {% load static %}
        {% if user.is_authenticated %} 
          <div class="main-login-menssage">
                <div class="carregar-img-input">
                <form class="addprofileimg" action="{% url 'authors:addprofileimg' %}" method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                    <label for="id_cover_profile">Carregar Foto</label>
                    <input type="file" name="cover_profile" accept="image/*" id="id_cover_profile" >
                    <button type="submit">Enviar</button>
                <form>
                </div>
                {% if user.profile.cover_profile %}
                <img src="{{user.profile.cover_profile.url}}" alt="" class="user-img-profile">
                {% else %}
                <img src="{% static "helpdesk/imgs/user.jpg"%}" alt="" class="user-img-profile">
                {% endif %}
                <div class="login-message">
                  <span>
                    {{ request.user.first_name }} {{ request.user.last_name }}
                  </span>
                  <span>
                    {{request.user.profile.Category}}
                  </span>
                </div>
          </div>
        <div class="bar-menu"></div>
        {% endif %}
        <a href="{% url 'helpdesk:home' %}">Tarefas</a>
        {% if user.is_authenticated %}
          <a href="{% url 'authors:dashboard_tarefa_new' %}">Abrir Tarefa</a>
          <a href="{% url 'authors:dashboard' %}">Minhas Tarefas</a>
          <a href="{% url 'helpdesk:finalizado' %}">Finalizadas</a>
          {% if user.is_superuser %}
            <a href="{% url 'admin:index' %}">Administração</a>
            <a href="{% url 'authors:maquinas' %}">Máquinas</a>
          {% endif %}
          <a class="authors-logout-link" href="{% url 'authors:logout' %}">Logout</a>
          {% include 'authors/partials/form_logout.html' %}
        {% else %}
          <a class="author-logout-link" href="{% url 'authors:login' %}">Login</a>
          <a href="{% url 'authors:register' %}">Cadastro</a>
        {% endif %}
        
      </nav>
    </div>
  </div>