<section class="search">
    <div class="search-tarefas">
        <form action="{% url 'helpdesk:search' %}" class="search-form">
            <input class="search-input"type="search" name="q" value="{{ search_term }}"placeholder="" required>
             <!-- <select id="situacao" name="situacao" label="situacao">
                <option>Aberto</option>
                <option>Em Andamento</option>
                <option>Fechado</option>
            </select>
            <input type="date" name="data">
            <select id="categoria" name="categoria" label="Categoria">
                <option>Comercial</option>
                <option>Marketing</option>
                <option>Expedição</option>
                <option>Financeiro</option>
                <option>RH</option>
            </select> -->
            <button type="submit" class="search-button"> <i class="fas fa-search"></i> </button>
        </form>
    </div>
</section>