<section class="search">
    <div class="search-tarefas">
        <form action="{% url 'search' %}" class="search-form">
            <input type="number" name="ticket" placeholder="Ticket ID">
            <input type="text" name="situacao" placeholder="Situação">
            <input type="date" name="data">
            <select id="categoria" name="categoria" label="Categoria">
                <option>Comercial</option>
                <option>Marketing</option>
                <option>Expedição</option>
                <option>Financeiro</option>
                <option>RH</option>
            </select>
            <button type="submit" class="search-button"> Filtrar </button>
        </form>
    </div>
</section>