<div class="main-tarefas-conteiner">    
    <div class="tarefas-panel-head">
        <div class="panel-head-form">
            #Ticket
        </div>
        <div class="panel-head-form">
            Titulo
        </div>
        <div class="panel-head-form">
            Situação
        </div>
        <div class="panel-head-form">
            Data
        </div>
        <div class="panel-head-form">
            Prioridade
        </div>
        <div class="panel-head-form">
            Setor
        </div>
    </div>
</div>