<main class="main-tarefas-conteiner">
    <div class="tarefas-panel-t" >
        <div class="tarefa">
            <a href="#" class="tarefa-id">#{{ tarefa.ticketid }}</a>
        </div>
        <div class="tarefa">
            <a href="#" class="tarefa-descrição">{{ tarefa.title}}</a>
        </div>
        <div class="tarefa">
            <a href="#" class="tarefa-situacao">{{tarefa.status}}</a>
        </div>
        <div class="tarefa">
            <a href="#" class="tarefa-data">{{tarefa.data_at|date:"d/m/Y"}} às {{tarefa.data_at|date:"H:i"}}</a>
        </div>
        <div class="tarefa">
            <a href="#" class="categoria">{{tarefa.Category}}</a>
        </div>
    </div>