{% if tarefas %}
<div class="main-tarefas-conteiner">    
    <div class="tarefas-panel-head">
        <div class="panel-head-form">
            #Ticket
        </div>
        <div class="panel-head-form">
            Situação
        </div>
        <div class="panel-head-form">
            Titulo
        </div>
        <div class="panel-head-form">
            Ultima atualização
        </div>
        <div class="panel-head-form">
            Prioridade
        </div>
        <div class="panel-head-form">
            Colaborador
        </div>
        <div class="panel-head-form">
            Setor R.
        </div>
    </div>
</div>
{% endif %}