<div class="main-tarefas-conteiner"> 
    <div class="tarefas-panel-a
    {% if tarefa.global_msg %}
        status-signal-global   
    {% elif tarefa.status == 'Aberto' %}
        status-signal-aberto
    {% elif tarefa.status == 'Execução' %}
        status-signal-execucao
    {% elif tarefa.status == 'Finalizado' %}
        status-signal-finalizado  
    {% endif %}
        ">
    
        <div class="tarefa">
            {% if tarefa.global_msg %}
            <a href="{% url 'helpdesk:tarefa' tarefa.id %}" class="tarefa-id"> 📌 </a>
            {% elif not tarefa.global_msg %}
            <a href="{% url 'helpdesk:tarefa' tarefa.id %}" class="tarefa-id">#{{ tarefa.id }}</a>
            {% endif %}
        </div>
        <div class="tarefa">
            {% if tarefa.global_msg %}
                <a href="{% url 'helpdesk:tarefa' tarefa.id %}" class="tarefa-situacao">Fixo</a>
            {% elif not tarefa.global_msg %}
                <a href="{% url 'helpdesk:tarefa' tarefa.id %}" class="tarefa-situacao">{{tarefa.status}}</a>
            {% endif %}
        </div>
        <div class="tarefa">
            <a href="{% url 'helpdesk:tarefa' tarefa.id %}" class="tarefa-titulo">{{ tarefa.tipe}}</a>
        </div>
        <div class="tarefa">
            <a href="{% url 'helpdesk:tarefa' tarefa.id %}" class="tarefa-titulo">{{ tarefa.local}}</a>
        </div>
        <div class="tarefa">
            <a href="{% url 'helpdesk:tarefa' tarefa.id %}" class="tarefa-data">{{tarefa.data_up_at|date:"d/m/Y"}} às {{tarefa.data_up_at|date:"H:i"}}</a>
        </div>
        <div class="tarefa">
            {% if tarefa.prioridade == 'Urgente' %}
                <a href="{% url 'helpdesk:tarefa' tarefa.id %}" class="tarefa-prioridade-urgencia">{{tarefa.prioridade}}</a>
            {% elif tarefa.prioridade == 'Alta' %}
            <a href="{% url 'helpdesk:tarefa' tarefa.id %}" class="tarefa-prioridade-alta">{{tarefa.prioridade}}</a>
            {% elif tarefa.prioridade == 'Moderada' %}
            <a href="{% url 'helpdesk:tarefa' tarefa.id %}" class="tarefa-prioridade-moderada">{{tarefa.prioridade}}</a>
            {% elif tarefa.prioridade == 'Baixa' %}
            <a href="{% url 'helpdesk:tarefa' tarefa.id %}" class="tarefa-prioridade-baixa">{{tarefa.prioridade}}</a>
            {% else %}
                <a href="{% url 'helpdesk:tarefa' tarefa.id %}" class="tarefa-prioridade">{{tarefa.prioridade}}</a>
            {% endif %}
        </div>
        <div class="tarefa">
            <a href="{% url 'helpdesk:tarefa' tarefa.id %}" class="tarefa-author">{{ tarefa.author.first_name}}</a>
        </div>
        <div class="tarefa">
            <a href="
            {% if request.user.is_superuser %}
                {% url 'helpdesk:tarefas-category' tarefa.Category_id %}
            {% else %}
                {% url 'helpdesk:tarefa' tarefa.id %}
            {% endif %}
            " class="categoria">{{tarefa.Category}}</a>
        </div>
    </div>
    <div class="divisoria-main"></div>
</div>
