<main class="main-tarefas-conteiner">
    <div class="tarefas-panel-a">
        <div class="tarefa">
            <a href="#" class="tarefa-id">#{{ tarefa.ticketid }}</a>
        </div>
        <div class="tarefa">
            <a href="#" class="tarefa-descrição">{{ tarefa.description}}</a>
        </div>
        <div class="tarefa">
            <a href="#" class="tarefa-situacao">{{tarefa.situacao}}</a>
        </div>
        <div class="tarefa">
            <a href="#" class="tarefa-data">{{tarefa.created_at|date:"d/m/Y H:i:s"}} às {{tarefa.created_at|date:"H:i"}}</a>
        </div>
        <div class="tarefa">
            <a href="#" class="tarefa-categoria">{{tarefa.category}}</a>
        </div>
    </div>
    <div class="tarefas-panel-t">
        <div class="tarefa">
            <a href="#" class="tarefa-id">#{{ tarefa.ticketid }}</a>
        </div>
        <div class="tarefa">
            <a href="#" class="tarefa-descrição">{{ tarefa.description}}</a>
        </div>
        <div class="tarefa">
            <a href="#" class="tarefa-situacao">{{tarefa.situacao}}</a>
        </div>
        <div class="tarefa">
            <a href="#" class="tarefa-data">{{tarefa.created_at|date:"d/m/Y H:i:s"}} às {{tarefa.created_at|date:"H:i"}}</a>
        </div>
        <div class="tarefa">
            <a href="#" class="tarefa-categoria">{{tarefa.category}}</a>
        </div>
    </div>


</main>